@charset "UTF-8";
/* @date    2016-03-24 21:14:12 */
/* reset */
* { margin: 0; padding: 0;}
body { font-size: 12px; color: #333; font-family: "Microsoft Yahei"; }
ul,li { list-style: none;}
h1,h2,h3,h4,h5,h6,strong,b { font-size: 12px; font-weight: normal;}
em,i { font-style: normal;}
a { text-decoration: none; color: #333;}
.fl { float: left;}
.fr { float: right;}
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* end reset*/
